.para,
.small-para {
  color: hsl(0, 100%, 50%);
}

.small-para {
  font-size: 14px;
}

.para {
  font-size: 22px;
}

.button {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 20px;
}

/* Problem was precedence: white button was showing up bc it button was below
confirm */ 
.confirm {
    background: green;
    color: white;
    font-weight: bold;
  } 

.child {
  color: red;
  font-size: 14px;
}

div.text {
  color: green;
  font-size: 22px;
}